Repository beyond-sw-camp/be06-fin-SimKids-Dealivery, pull requests merged in 2024-09, with the labels that each got.

#97 [Setting] vue프로젝트 초기 환경설정(#96)
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/components/HelloWorld.vue
  frontend/src/components/common/FooterComponent.vue
  frontend/src/components/common/HeaderComponent.vue
  frontend/src/main.js
  frontend/src/pages/MainPage.vue
  frontend/src/router/index.js
Labels: 🖥️ Frontend

#98 [FRONT_USER_003] 로그인 화면 구현 (#50)
  frontend/src/components/user/LoginComponent.vue
  frontend/src/pages/common/AuthPage.vue
  frontend/src/pages/common/MainPage.vue
  frontend/src/router/index.js
Labels: 🖥️ Frontend, ✨ Feature

#100 [#69] 판매자 게시글 컴포넌트 구현
  frontend/src/components/company/CompanyAsideComponent.vue
  frontend/src/components/company/CompanyBoardModalComponent.vue
  frontend/src/components/company/CompanyBoardPostComponent.vue
  frontend/src/pages/company/board/CompanyBoardPostPage.vue
  frontend/src/router/index.js
Labels: 🖥️ Frontend, ✨ Feature

#99 [#48] 일반회원가입 화면 구현
  frontend/src/assets/filled-custom-radio.svg
  frontend/src/assets/outline-custom-radio.svg
  frontend/src/components/user/LoginComponent.vue
  frontend/src/components/user/UserSignupComponent.vue
  frontend/src/router/index.js
Labels: 🖥️ Frontend, ✨ Feature

#101 [#92] 주문 화면 구현
  frontend/src/assets/drop-down-icon.svg
  frontend/src/assets/kakao-pay-icon.svg
  frontend/src/assets/price-list-icon.svg
  frontend/src/components/orders/OrdersMainComponent.vue
  frontend/src/pages/user/orders/OrdersPage.vue
  frontend/src/router/index.js
Labels: 🖥️ Frontend, ✨ Feature

#102 [#49] 업체회원가입 화면 구현
  frontend/src/components/company/CompanySignupComponent.vue
  frontend/src/router/index.js
Labels: 🖥️ Frontend, ✨ Feature

#103 [#51] 아이디찾기 화면 구현
  frontend/src/components/user/FindIdComponent.vue
  frontend/src/router/index.js
Labels: 🖥️ Frontend, ✨ Feature

#104 [#52] 아이디찾기 성공 화면 구현
  frontend/src/components/user/FindIdSuccessComponent.vue
  frontend/src/router/index.js
Labels: 🖥️ Frontend, ✨ Feature

#106 [#54] 비밀번호 재설정 화면 구현
  frontend/src/components/user/ResetPasswordComponent.vue
  frontend/src/router/index.js
Labels: 🖥️ Frontend, ✨ Feature

#107 [#61] 주문 내역 화면 구현
  frontend/src/assets/arrow.png
  frontend/src/assets/cart-icon.svg
  frontend/src/assets/heart-icon.svg
  frontend/src/assets/logo.png
  frontend/src/components/mypage/MypageAsideComponent.vue
  frontend/src/components/mypage/MypageOrderListComponent.vue
  frontend/src/pages/common/AuthPage.vue
  frontend/src/pages/user/MyPage.vue
  frontend/src/router/index.js
Labels: 🖥️ Frontend, ✨ Feature

#108 [#53] 비밀번호 찾기 화면 구현
  frontend/src/components/user/FindPasswordComponent.vue
  frontend/src/router/index.js
Labels: 🖥️ Frontend, ✨ Feature

#109 [#105] 비밀번호찾기 대기 화면 구현
  frontend/src/components/user/FindPasswordWaitComponent.vue
  frontend/src/router/index.js
Labels: 🖥️ Frontend, ✨ Feature

#110 [#55] 잘못된 비밀번호 재설정 화면 구현
  frontend/src/components/user/InvalidUrlComponent.vue
  frontend/src/router/index.js
Labels: 🖥️ Frontend, ✨ Feature

#111 [#62] 주문 상세 조회 화면 구현
  frontend/src/components/mypage/MypageOrderListComponent.vue
  frontend/src/pages/user/MyPage.vue
  frontend/src/router/index.js
Labels: 🖥️ Frontend, ✨ Feature

#112 [#73] 판매자 게시글 등록 페이지 기능 구현
  frontend/src/assets/image_upload.svg
  frontend/src/components/company/CompanyBoardModalComponent.vue
  frontend/src/components/company/CompanyBoardPhotoUploadComponent.vue
  frontend/src/components/company/CompanyBoardPostComponent.vue
  frontend/src/stores/UseCompanyBoardStore.js
Labels: 🖥️ Frontend, ✨ Feature

#115 [#78] 로그인 기능 구현
  frontend/src/components/common/HeaderComponent.vue
  frontend/src/components/user/LoginComponent.vue
  frontend/src/stores/useUserStore.js
Labels: 🖥️ Frontend, ✨ Feature

#116 [#113] 판매자 게시글 목록 조회 화면 구현
  frontend/src/components/company/DropdownMenu.vue
  frontend/src/components/company/ListCardComponent.vue
  frontend/src/pages/company/board/CompanyBoardListPage.vue
  frontend/src/router/index.js
Labels: 🖥️ Frontend, ✨ Feature

#118 [#117] 카테고리별 게시글 목록 조회 화면 구현
  frontend/src/assets/board-list-filled-heart.svg
  frontend/src/assets/board-list-outline-heart.svg
  frontend/src/components/mainpage/ProductBoardListCardComponent.vue
  frontend/src/components/mainpage/ProductBoardListComponent.vue
  frontend/src/pages/common/BoardListPage.vue
  frontend/src/pages/company/board/CompanyBoardPostPage.vue
  frontend/src/router/index.js
Labels: 🖥️ Frontend, ✨ Feature

#119 [#58] 상품 상세 페이지 구현
  frontend/src/components/board/BoardDetailNavComponent.vue
  frontend/src/components/board/BoardDetailProductInfoComponent.vue
  frontend/src/components/board/BoardDetailThumnailComponent.vue
  frontend/src/pages/user/board/BoardDetailPage.vue
  frontend/src/router/index.js
Labels: 🖥️ Frontend, ✨ Feature

#120 [#72] 일반회원가입 기능 구현
  frontend/src/components/user/UserSignupComponent.vue
  frontend/src/stores/useUserStore.js
Labels: 🖥️ Frontend, ✨ Feature

#121 [#75] 메인 화면 구현
  frontend/src/assets/banner1.png
  frontend/src/assets/banner2.png
  frontend/src/assets/banner3.png
  frontend/src/assets/banner4.png
  frontend/src/assets/clock.svg
  frontend/src/assets/heart-icon-active.svg
  frontend/src/assets/heart-icon.svg
  frontend/src/components/common/HeaderComponent.vue
  frontend/src/components/mainpage/BannerComponent.vue
  frontend/src/components/mainpage/MainCardViewComponent.vue
  frontend/src/components/mainpage/ProductBoardListCardComponent.vue
  frontend/src/components/mainpage/SectionTitleComponent.vue
  frontend/src/pages/common/MainPage.vue
Labels: 🖥️ Frontend, ✨ Feature

#122 [#74] 업체회원가입 기능 구현
  frontend/src/components/board/BoardDetailProductInfoComponent.vue
  frontend/src/components/company/CompanySignupComponent.vue
  frontend/src/components/user/UserSignupComponent.vue
  frontend/src/stores/useUserStore.js
Labels: 🖥️ Frontend, ✨ Feature

#123 [#114] 판매자 게시글 목록 조회 페이지 기능 구현
  frontend/src/components/company/CompanyBoardPhotoUploadComponent.vue
  frontend/src/components/company/CompanyBoardPostComponent.vue
  frontend/src/components/company/ListCardComponent.vue
  frontend/src/pages/company/board/CompanyBoardListPage.vue
  frontend/src/pages/company/board/CompanyBoardPostPage.vue
  frontend/src/router/index.js
  frontend/src/stores/UseCompanyBoardStore.js
Labels: 🖥️ Frontend, ✨ Feature

#124 [#88] 1:1 문의 목록 조회 화면 구현
  frontend/src/assets/cart-icon.svg
  frontend/src/assets/heart-icon.svg
  frontend/src/components/mypage/MypageAsideComponent.vue
  frontend/src/components/mypage/MypageOrderListComponent.vue
  frontend/src/components/mypage/MypageQnAComponent.vue
  frontend/src/components/mypage/TitleComponent.vue
  frontend/src/pages/user/MyPage.vue
  frontend/src/router/index.js
Labels: 🖥️ Frontend, ✨ Feature

#125 [#2] 이메일 인증기능 구현
  backend/build.gradle
  backend/build/resources/main/application.yml
  backend/build/resources/main/templates/email-template.html
  backend/build/tmp/compileJava/previous-compilation-data.bin
  backend/docker-compose.yml
  backend/src/main/java/org/example/backend/domain/user/controller/UserController.java
  backend/src/main/java/org/example/backend/domain/user/model/dto/UserAuthTokenDto.java
  backend/src/main/java/org/example/backend/domain/user/model/dto/UserDto.java
  backend/src/main/java/org/example/backend/domain/user/model/entity/Delivery.java
  backend/src/main/java/org/example/backend/domain/user/model/entity/User.java
  backend/src/main/java/org/example/backend/domain/user/model/entity/UserAuthToken.java
  backend/src/main/java/org/example/backend/domain/user/repository/DeliveryRepository.java
  backend/src/main/java/org/example/backend/domain/user/repository/UserAuthTokenRepository.java
  backend/src/main/java/org/example/backend/domain/user/repository/UserRepository.java
  backend/src/main/java/org/example/backend/domain/user/service/UserAuthTokenService.java
  backend/src/main/java/org/example/backend/domain/user/service/UserService.java
  backend/src/main/java/org/example/backend/global/common/BaseResponse.java
  backend/src/main/java/org/example/backend/global/common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/org/example/backend/global/exception/InvalidCustomException.java
  backend/src/main/java/org/example/backend/global/freemarker/FreeMarkerConfig.java
  backend/src/main/java/org/example/backend/global/security/config/SecurityConfig.java
  backend/src/main/java/org/example/backend/global/swagger/SwaggerConfig.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
  backend/src/main/resources/templates/email-template.html
Labels: 🗄️ Backend, ✨ Feature

#126 [#70] 판매자 주문 관리 화면 구현
  frontend/src/components/company/CompanyAsideComponent.vue
  frontend/src/components/company/CompanyOrderModalComponent.vue
  frontend/src/components/company/DropdownMenu.vue
  frontend/src/components/company/OrderListCardComponent.vue
  frontend/src/components/user/UserSignupComponent.vue
  frontend/src/pages/company/orders/CompanyOrderListPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useUserStore.js
Labels: 🖥️ Frontend, ✨ Feature

#128 [#1] 일반회원가입 기능 구현
  backend/build.gradle
  backend/build/tmp/compileJava/compileTransaction/stash-dir/GlobalExceptionHandler.class.uniqueId0
  backend/build/tmp/compileJava/compileTransaction/stash-dir/UserController.class.uniqueId2
  backend/build/tmp/compileJava/compileTransaction/stash-dir/UserDto$UserSignupRequest$UserSignupRequestBuilder.class.uniqueId3
  backend/build/tmp/compileJava/compileTransaction/stash-dir/UserDto$UserSignupRequest.class.uniqueId4
  backend/build/tmp/compileJava/compileTransaction/stash-dir/UserDto.class.uniqueId1
  backend/build/tmp/compileJava/compileTransaction/stash-dir/UserService.class.uniqueId5
  backend/build/tmp/compileJava/previous-compilation-data.bin
  backend/src/main/java/org/example/backend/domain/user/controller/UserController.java
  backend/src/main/java/org/example/backend/domain/user/model/dto/UserDto.java
  backend/src/main/java/org/example/backend/domain/user/repository/UserAuthTokenRepository.java
  backend/src/main/java/org/example/backend/domain/user/repository/UserRepository.java
  backend/src/main/java/org/example/backend/domain/user/service/UserAuthTokenService.java
  backend/src/main/java/org/example/backend/domain/user/service/UserService.java
  backend/src/main/java/org/example/backend/global/common/BaseResponse.java
  backend/src/main/java/org/example/backend/global/common/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/global/exception/GlobalExceptionHandler.java
Labels: 🗄️ Backend, ✨ Feature

#127 [#63] 관심게시글 조회 화면 구현
  frontend/src/components/mypage/MypageAsideComponent.vue
  frontend/src/components/mypage/MypageLikesEventComponent.vue
  frontend/src/pages/user/MyPage.vue
  frontend/src/router/index.js
Labels: 🖥️ Frontend, ✨ Feature

#129 [#68] 주문 기능 구현
  .gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/logo-toss-pay.svg
  frontend/src/components/board/BoardDetailProductInfoComponent.vue
  frontend/src/components/orders/OrdersMainComponent.vue
  frontend/src/pages/user/board/BoardDetailPage.vue
  frontend/src/pages/user/orders/OrdersPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useOrderStore.js
Labels: 🖥️ Frontend, ✨ Feature

#130 [#71] 1:1 문의 관리 화면 구현
  frontend/src/components/company/CompanyAsideComponent.vue
  frontend/src/components/company/CompanyQnAManageComponent.vue
  frontend/src/components/company/CompanyQnAModalComponent.vue
  frontend/src/pages/company/qna/CompanyQnAListPage.vue
  frontend/src/router/index.js
Labels: 🖥️ Frontend, ✨ Feature

#133 [#85] 문의 등록 화면 구현
  frontend/src/components/board/BoardDetailNavComponent.vue
  frontend/src/components/qna/QnaRegisterModalComponent.vue
Labels: 🖥️ Frontend, ✨ Feature

#134 [#66] 배송지 관리 화면 구현
  frontend/src/assets/pencil.svg
  frontend/src/assets/plus.svg
  frontend/src/components/company/CompanyBoardModalComponent.vue
  frontend/src/components/company/OrderListCardComponent.vue
  frontend/src/components/mypage/AddressEditModalComponent.vue
  frontend/src/components/mypage/AddressModalComponent.vue
  frontend/src/components/mypage/MypageAddressComponent.vue
  frontend/src/pages/MainPage.vue
  frontend/src/pages/user/MyPage.vue
  frontend/src/router/index.js
Labels: 🖥️ Frontend, ✨ Feature

#136 [#135] 헤더 로고 이미지 변경
  frontend/src/assets/dealivery-logo.png
  frontend/src/components/common/HeaderComponent.vue
Labels: 🖥️ Frontend, 🎨 design

#139 [#138] 일반 로그인 기능 엔티티, 기반클래스 구현
  backend/src/main/java/org/example/backend/global/security/jwt/JwtUtil.java
  backend/src/main/java/org/example/backend/global/security/jwt/model/dto/CustomCompanyDetails.java
  backend/src/main/java/org/example/backend/global/security/jwt/model/dto/CustomUserDetails.java
  backend/src/main/java/org/example/backend/global/security/jwt/model/entity/CompanyRefreshToken.java
  backend/src/main/java/org/example/backend/global/security/jwt/model/entity/UserRefreshToken.java
  backend/src/main/java/org/example/backend/global/security/jwt/repository/CompanyRepositoryTokenRepository.java
  backend/src/main/java/org/example/backend/global/security/jwt/repository/UserRepositoryTokenRepository.java
Labels: 🗄️ Backend, ✨ Feature

#140 [#35] 상품 게시글 등록을 위한 모델/설정 추가
  .gitignore
  backend/build.gradle
  backend/build/resources/main/application.yml
  backend/src/main/java/org/example/backend/BackendApplication.java
  backend/src/main/java/org/example/backend/domain/board/category/model/entity/Category.java
  backend/src/main/java/org/example/backend/domain/board/category/repository/CategoryRepository.java
  backend/src/main/java/org/example/backend/domain/board/model/dto/BoardDto.java
  backend/src/main/java/org/example/backend/domain/board/model/entity/ProductBoard.java
  backend/src/main/java/org/example/backend/domain/board/model/entity/ProductThumbnailImage.java
  backend/src/main/java/org/example/backend/domain/board/product/model/dto/ProductDto.java
  backend/src/main/java/org/example/backend/domain/board/product/model/entity/Product.java
  backend/src/main/java/org/example/backend/domain/board/product/repository/ProductRepository.java
  backend/src/main/java/org/example/backend/domain/board/repository/BoardRepository.java
  backend/src/main/java/org/example/backend/global/common/constants/BoardStatus.java
  backend/src/main/java/org/example/backend/global/common/constants/CategoryType.java
  backend/src/main/java/org/example/backend/global/infra/s3/config/S3Config.java
  backend/src/main/resources/application.yml
Labels: 🗄️ Backend

#142 [#141] 주문 기능 수정
  frontend/public/index.html
  frontend/src/components/orders/OrdersMainComponent.vue
  frontend/src/stores/useOrderStore.js
  frontend/vue.config.js
Labels: 🖥️ Frontend, ✨ Feature

#143 [#27] 주문 및 결제 기능을 위한 모델/설정 추가
  backend/build.gradle
  backend/src/main/java/org/example/backend/domain/orders/model/dto/OrderDto.java
  backend/src/main/java/org/example/backend/domain/orders/model/dto/OrderedProductDto.java
  backend/src/main/java/org/example/backend/domain/orders/model/entity/OrderedProduct.java
  backend/src/main/java/org/example/backend/domain/orders/model/entity/Orders.java
  backend/src/main/java/org/example/backend/global/common/constants/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/global/common/constants/OrderStatus.java
  backend/src/main/java/org/example/backend/global/common/constants/PaymentType.java
  backend/src/main/java/org/example/backend/global/infra/portone/config/PortOneConfig.java
  backend/src/main/java/org/example/backend/global/utils/RandomCodeGenerator.java
  backend/src/main/resources/application.yml
Labels: 🗄️ Backend, ✨ Feature

#147 [#144] 게시글 작성 할인율 입력 기능 구현
  frontend/src/components/company/CompanyBoardPostComponent.vue
  frontend/src/stores/UseCompanyBoardStore.js
Labels: 🖥️ Frontend, ✨ Feature

#145 [#64] 문의 상세 조회 화면 구현
  frontend/src/components/board/BoardDetailNavComponent.vue
  frontend/src/components/mypage/MypageQnAComponent.vue
  frontend/src/components/qna/QnaRegisterModalComponent.vue
  frontend/src/pages/user/board/BoardDetailPage.vue
Labels: 🖥️ Frontend, ✨ Feature

#146 [#35] 상품 게시글 등록 기능 구현
  backend/src/main/java/org/example/backend/domain/board/category/repository/CategoryRepository.java
  backend/src/main/java/org/example/backend/domain/board/controller/BoardController.java
  backend/src/main/java/org/example/backend/domain/board/model/dto/BoardDto.java
  backend/src/main/java/org/example/backend/domain/board/product/model/dto/ProductDto.java
  backend/src/main/java/org/example/backend/domain/board/repository/ProductBoardRepository.java
  backend/src/main/java/org/example/backend/domain/board/repository/ProductThumbnailImageRepository.java
  backend/src/main/java/org/example/backend/domain/board/service/ProductBoardService.java
  backend/src/main/java/org/example/backend/domain/company/controller/CompanyController.java
  backend/src/main/java/org/example/backend/domain/company/service/CompanyAuthTokenService.java
  backend/src/main/java/org/example/backend/domain/company/service/CompanyRegisterVerifyService.java
  backend/src/main/java/org/example/backend/domain/company/service/CompanyService.java
  backend/src/main/java/org/example/backend/global/common/constants/CategoryType.java
  backend/src/main/resources/application.yml
Labels: 🗄️ Backend, ✨ Feature

#148 [#27] 주문 및 결제 기능을 위한 모델/설정 변경
  backend/src/main/java/org/example/backend/domain/orders/model/dto/OrderDto.java
  backend/src/main/java/org/example/backend/domain/orders/model/dto/OrderedProductDto.java
  backend/src/main/java/org/example/backend/domain/orders/model/entity/OrderedProduct.java
  backend/src/main/java/org/example/backend/domain/orders/model/entity/Orders.java
Labels: 🗄️ Backend, 🐞 BugFix

#150 [#35] 상품 게시글 등록 로직 수정
  backend/src/main/java/org/example/backend/domain/board/model/dto/BoardDto.java
  backend/src/main/java/org/example/backend/domain/board/product/model/entity/Product.java
  backend/src/main/java/org/example/backend/domain/board/service/ProductBoardService.java
  backend/src/main/java/org/example/backend/domain/company/model/dto/CompanyDto.java
  backend/src/main/java/org/example/backend/domain/company/model/entity/Company.java
  backend/src/main/java/org/example/backend/domain/company/service/CompanyAuthTokenService.java
  backend/src/main/java/org/example/backend/domain/company/service/CompanyRegisterVerifyService.java
  backend/src/main/java/org/example/backend/global/common/constants/BaseResponseStatus.java
Labels: 🗄️ Backend, 🔨 Refactor

#151 [#33] 상품 게시글 목록 조회 (업체회원) 기능 구현
  backend/src/main/java/org/example/backend/domain/board/controller/BoardController.java
  backend/src/main/java/org/example/backend/domain/board/model/dto/BoardDto.java
  backend/src/main/java/org/example/backend/domain/board/model/entity/ProductBoard.java
  backend/src/main/java/org/example/backend/domain/board/repository/ProductBoardRepository.java
  backend/src/main/java/org/example/backend/domain/board/service/ProductBoardService.java
Labels: 🗄️ Backend, ✨ Feature

#153 [#27] 주문 등록 기능 구현
  backend/src/main/java/org/example/backend/domain/board/product/model/entity/Product.java
  backend/src/main/java/org/example/backend/domain/board/product/repository/ProductRepository.java
  backend/src/main/java/org/example/backend/domain/orders/controller/OrdersController.java
  backend/src/main/java/org/example/backend/domain/orders/model/dto/OrderDto.java
  backend/src/main/java/org/example/backend/domain/orders/model/dto/OrderedProductDto.java
  backend/src/main/java/org/example/backend/domain/orders/repository/OrderedProductRepository.java
  backend/src/main/java/org/example/backend/domain/orders/repository/OrdersRepository.java
  backend/src/main/java/org/example/backend/domain/orders/service/OrderService.java
  backend/src/main/java/org/example/backend/global/common/constants/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/global/common/constants/SwaggerDescription.java
  backend/src/main/java/org/example/backend/global/common/constants/SwaggerExamples.java
  backend/src/main/java/org/example/backend/global/infra/db/InitDB.java
Labels: 🗄️ Backend, ✨ Feature

#149 [#3] 로그인 기능 구현
  backend/src/main/java/org/example/backend/domain/user/model/dto/UserDto.java
  backend/src/main/java/org/example/backend/domain/user/service/UserService.java
  backend/src/main/java/org/example/backend/global/common/constants/BaseResponse.java
  backend/src/main/java/org/example/backend/global/common/constants/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/global/common/constants/SwaggerExamples.java
  backend/src/main/java/org/example/backend/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/org/example/backend/global/security/config/SecurityConfig.java
  backend/src/main/java/org/example/backend/global/security/custom/auth/CustomAuthenticationProvider.java
  backend/src/main/java/org/example/backend/global/security/custom/auth/CustomAuthenticationToken.java
  backend/src/main/java/org/example/backend/global/security/custom/model/dto/CustomCompanyDetails.java
  backend/src/main/java/org/example/backend/global/security/custom/model/dto/CustomUserDetails.java
  backend/src/main/java/org/example/backend/global/security/custom/service/CustomUserDetailService.java
  backend/src/main/java/org/example/backend/global/security/filter/JwtFilter.java
  backend/src/main/java/org/example/backend/global/security/filter/LoginFilter.java
  backend/src/main/java/org/example/backend/global/security/handler/AccessDeniedHandler.java
  backend/src/main/java/org/example/backend/global/security/handler/LoginFailureHandler.java
  backend/src/main/java/org/example/backend/global/security/jwt/repository/CompanyRefreshTokenRepository.java
  backend/src/main/java/org/example/backend/global/security/jwt/repository/UserRefreshTokenRepository.java
Labels: 🗄️ Backend, ✨ Feature

#152 [#60] 문의 목록 조회 기능 구현
  frontend/src/components/board/BoardDetailNavComponent.vue
  frontend/src/pages/user/board/BoardDetailPage.vue
  frontend/src/stores/useQnaStore.js
Labels: 🖥️ Frontend, ✨ Feature

#158 [#157] 판매자 게시글 목록 조회 페이징 구현
  frontend/src/App.vue
  frontend/src/components/board/BoardDetailNavComponent.vue
  frontend/src/components/company/CompanyBoardPhotoUploadComponent.vue
  frontend/src/components/company/CompanyBoardPostComponent.vue
  frontend/src/pages/company/board/CompanyBoardListPage.vue
  frontend/src/pages/company/board/CompanyBoardPostPage.vue
  frontend/src/pages/company/orders/CompanyOrderListPage.vue
  frontend/src/pages/company/qna/CompanyQnAListPage.vue
  frontend/src/stores/useCompanyBoardStore.js
Labels: 🖥️ Frontend, ✨ Feature

#155 [#78] 로그인 기능 개선 - 소셜로그인 추가 및 백엔드 연동
  frontend/src/assets/google_login.png
  frontend/src/assets/kakao_login.png
  frontend/src/assets/naver_login.png
  frontend/src/components/common/HeaderComponent.vue
  frontend/src/components/company/CompanySignupComponent.vue
  frontend/src/components/user/LoginComponent.vue
  frontend/src/components/user/SocialSignupComponent.vue
  frontend/src/components/user/UserSignupComponent.vue
  frontend/src/pages/common/LoginRedirectPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useUserStore.js
  frontend/src/util/validator.js
Labels: 🖥️ Frontend, ✨ Feature, 🔨 Refactor

#156 [#4] 소셜로그인 기능 구현
  backend/build.gradle
  backend/src/main/java/org/example/backend/domain/company/controller/CompanyController.java
  backend/src/main/java/org/example/backend/domain/user/controller/UserController.java
  backend/src/main/java/org/example/backend/domain/user/model/dto/UserDto.java
  backend/src/main/java/org/example/backend/domain/user/service/UserService.java
  backend/src/main/java/org/example/backend/global/security/config/SecurityConfig.java
  backend/src/main/java/org/example/backend/global/security/custom/model/dto/CustomOAuth2User.java
  backend/src/main/java/org/example/backend/global/security/custom/service/CustomUserDetailService.java
  backend/src/main/java/org/example/backend/global/security/custom/service/OAuth2Service.java
  backend/src/main/java/org/example/backend/global/security/filter/JwtFilter.java
  backend/src/main/java/org/example/backend/global/security/filter/LoginFilter.java
  backend/src/main/java/org/example/backend/global/security/handler/CustomLogoutSuccessHandler.java
  backend/src/main/java/org/example/backend/global/security/handler/OAuth2AuthenticationSuccessHandler.java
  backend/src/main/java/org/example/backend/global/security/jwt/repository/UserRefreshTokenRepository.java
  backend/src/main/resources/application.yml
Labels: 🗄️ Backend, ✨ Feature

#163 [#160] 판매자 게시글 검색 기능 구현
  backend/build.gradle
  backend/src/main/java/org/example/backend/domain/board/controller/BoardController.java
  backend/src/main/java/org/example/backend/domain/board/repository/ProductBoardRepository.java
  backend/src/main/java/org/example/backend/domain/board/repository/querydsl/ProductBoardRepositoryCustom.java
  backend/src/main/java/org/example/backend/domain/board/repository/querydsl/ProductBoardRepositoryCustomImpl.java
  backend/src/main/java/org/example/backend/domain/board/service/ProductBoardService.java
  backend/src/main/java/org/example/backend/global/common/constants/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/global/common/constants/BoardStatus.java
  backend/src/main/java/org/example/backend/global/common/constants/SwaggerDescription.java
  backend/src/main/java/org/example/backend/global/infra/db/InitDB.java
  backend/src/main/resources/application.yml
Labels: 🗄️ Backend, ✨ Feature

#168 [#162] 판매자 게시글 상세 조회 기능 구현
  backend/src/main/java/org/example/backend/domain/board/controller/BoardController.java
  backend/src/main/java/org/example/backend/domain/board/model/dto/BoardDto.java
  backend/src/main/java/org/example/backend/domain/board/model/entity/ProductBoard.java
  backend/src/main/java/org/example/backend/domain/board/product/model/dto/ProductDto.java
  backend/src/main/java/org/example/backend/domain/board/product/model/entity/Product.java
  backend/src/main/java/org/example/backend/domain/board/product/repository/ProductRepository.java
  backend/src/main/java/org/example/backend/domain/board/repository/ProductBoardRepository.java
  backend/src/main/java/org/example/backend/domain/board/repository/ProductThumbnailImageRepository.java
  backend/src/main/java/org/example/backend/domain/board/service/ProductBoardService.java
  backend/src/main/java/org/example/backend/global/common/constants/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/global/common/constants/BoardStatus.java
  backend/src/main/java/org/example/backend/global/common/constants/SwaggerDescription.java
  backend/src/main/java/org/example/backend/global/infra/db/InitDB.java
Labels: 🗄️ Backend, ✨ Feature

#169 [#164] 판매자 게시글 상세 조회 백엔드 연동 구현
  frontend/src/components/board/BoardDetailNavComponent.vue
  frontend/src/components/company/CompanyBoardPostComponent.vue
  frontend/src/components/company/ListCardComponent.vue
  frontend/src/components/mainpage/ProductBoardListComponent.vue
  frontend/src/pages/company/board/CompanyBoardPostPage.vue
  frontend/src/pages/user/board/BoardDetailPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useCompanyBoardStore.js
Labels: 🖥️ Frontend, ✨ Feature

#170 [#32] 게시글 목록 조회 기능 구현
  backend/build/tmp/compileJava/previous-compilation-data.bin
  backend/src/main/java/org/example/backend/domain/board/controller/BoardController.java
  backend/src/main/java/org/example/backend/domain/board/model/dto/ProductBoardDto.java
  backend/src/main/java/org/example/backend/domain/board/model/entity/ProductBoard.java
  backend/src/main/java/org/example/backend/domain/board/repository/ProductBoardRepository.java
  backend/src/main/java/org/example/backend/domain/board/repository/querydsl/ProductBoardRepositoryCustom.java
  backend/src/main/java/org/example/backend/domain/board/repository/querydsl/ProductBoardRepositoryCustomImpl.java
  backend/src/main/java/org/example/backend/domain/board/service/ProductBoardService.java
  backend/src/main/java/org/example/backend/domain/company/model/entity/Company.java
  backend/src/main/java/org/example/backend/domain/likes/model/entity/Likes.java
  backend/src/main/java/org/example/backend/domain/user/model/entity/User.java
  backend/src/main/java/org/example/backend/global/common/constants/BoardStatus.java
  backend/src/main/java/org/example/backend/global/infra/db/InitDB.java
Labels: 🗄️ Backend, ✨ Feature

#171 [#167] 게시글 조회 백엔드 연동 구현
  frontend/src/components/common/HeaderComponent.vue
  frontend/src/components/company/CompanyBoardPhotoUploadComponent.vue
  frontend/src/components/company/CompanyBoardPostComponent.vue
  frontend/src/components/mainpage/ProductBoardListCardComponent.vue
  frontend/src/components/mainpage/ProductBoardListComponent.vue
  frontend/src/pages/common/BoardListPage.vue
  frontend/src/pages/company/board/CompanyBoardListPage.vue
  frontend/src/pages/company/board/CompanyBoardPostPage.vue
  frontend/src/stores/useBoardStore.js
Labels: 🖥️ Frontend, ✨ Feature

#166 [#57] 주문 완료 기능 구현
  frontend/src/components/board/BoardDetailProductInfoComponent.vue
  frontend/src/components/orders/OrdersMainComponent.vue
  frontend/src/pages/user/board/BoardDetailPage.vue
  frontend/src/stores/useOrderStore.js
Labels: 🖥️ Frontend, ✨ Feature

#165 [#154] 주문 완료 기능 구현
  backend/src/main/java/org/example/backend/domain/board/product/model/entity/Product.java
  backend/src/main/java/org/example/backend/domain/orders/controller/OrdersController.java
  backend/src/main/java/org/example/backend/domain/orders/model/entity/OrderedProduct.java
  backend/src/main/java/org/example/backend/domain/orders/model/entity/Orders.java
  backend/src/main/java/org/example/backend/domain/orders/repository/OrdersRepository.java
  backend/src/main/java/org/example/backend/domain/orders/service/OrderService.java
  backend/src/main/java/org/example/backend/domain/orders/service/PaymentService.java
  backend/src/main/java/org/example/backend/global/common/constants/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/global/common/constants/SwaggerDescription.java
  backend/src/main/java/org/example/backend/global/infra/db/InitDB.java
Labels: 🗄️ Backend, ✨ Feature

#175 [#94, #95] 배송지 관리 기능, 일반회원정보 조회 기능 구현
  frontend/src/components/common/HeaderComponent.vue
  frontend/src/components/mypage/AddressModalComponent.vue
  frontend/src/components/mypage/MypageAddressComponent.vue
Labels: 🖥️ Frontend, ✨ Feature

#174 [#6, #12, #14] 일반회원정보 조회, 배송지 목록 조회, 배송지 추가 기능 구현
  backend/src/main/java/org/example/backend/domain/company/model/entity/Company.java
  backend/src/main/java/org/example/backend/domain/company/service/CompanyService.java
  backend/src/main/java/org/example/backend/domain/delivery/controller/DeliveryController.java
  backend/src/main/java/org/example/backend/domain/delivery/model/dto/DeliveryDto.java
  backend/src/main/java/org/example/backend/domain/delivery/model/entity/Delivery.java
  backend/src/main/java/org/example/backend/domain/delivery/repository/DeliveryRepository.java
  backend/src/main/java/org/example/backend/domain/delivery/service/DeliveryService.java
  backend/src/main/java/org/example/backend/domain/user/controller/UserController.java
  backend/src/main/java/org/example/backend/domain/user/model/dto/UserDto.java
  backend/src/main/java/org/example/backend/domain/user/model/entity/Delivery.java
  backend/src/main/java/org/example/backend/domain/user/model/entity/User.java
  backend/src/main/java/org/example/backend/domain/user/repository/DeliveryRepository.java
  backend/src/main/java/org/example/backend/domain/user/repository/UserRepository.java
  backend/src/main/java/org/example/backend/domain/user/service/UserService.java
  backend/src/main/java/org/example/backend/global/common/constants/BaseResponseStatus.java
Labels: 🗄️ Backend, ✨ Feature

#182 [#94] 배송지 관리 기능(삭제) 구현
  frontend/src/components/mypage/AddressEditModalComponent.vue
  frontend/src/components/mypage/MypageAddressComponent.vue
  frontend/src/stores/useUserStore.js
Labels: 🖥️ Frontend, ✨ Feature

#181 [#180] 배송지 삭제 기능 구현
  backend/src/main/java/org/example/backend/domain/delivery/controller/DeliveryController.java
  backend/src/main/java/org/example/backend/domain/delivery/repository/DeliveryRepository.java
  backend/src/main/java/org/example/backend/domain/delivery/service/DeliveryService.java
Labels: 🗄️ Backend, ✨ Feature

#177 [#59, #60] 문의 등록 기능 구현, 문의 목록 조회 기능 구현
  frontend/src/components/board/BoardDetailNavComponent.vue
  frontend/src/components/qna/QnaRegisterModalComponent.vue
  frontend/src/pages/user/board/BoardDetailPage.vue
  frontend/src/stores/useQnaStore.js
Labels: 🖥️ Frontend, ✨ Feature

#185 [#94] 배송지 관리기능 구현 - 기본 배송지 설정
  frontend/src/components/mypage/AddressEditModalComponent.vue
  frontend/src/components/mypage/AddressModalComponent.vue
  frontend/src/components/mypage/MypageAddressComponent.vue
  frontend/src/components/user/UserSignupComponent.vue
  frontend/src/stores/useUserStore.js
Labels: 🖥️ Frontend, ✨ Feature

#184 [#13] 기본배송지 등록 기능 구현
  backend/src/main/java/org/example/backend/domain/delivery/controller/DeliveryController.java
  backend/src/main/java/org/example/backend/domain/delivery/model/dto/DeliveryDto.java
  backend/src/main/java/org/example/backend/domain/delivery/model/entity/Delivery.java
  backend/src/main/java/org/example/backend/domain/delivery/service/DeliveryService.java
Labels: 🗄️ Backend, ✨ Feature

#179 [#34] 상품 게시글 상세 조회 기능 구현
  backend/src/main/java/org/example/backend/domain/board/controller/BoardController.java
  backend/src/main/java/org/example/backend/domain/board/model/dto/ProductBoardDto.java
  backend/src/main/java/org/example/backend/domain/board/model/entity/ProductBoard.java
  backend/src/main/java/org/example/backend/domain/board/product/model/dto/ProductDto.java
  backend/src/main/java/org/example/backend/domain/board/product/model/entity/Product.java
  backend/src/main/java/org/example/backend/domain/board/repository/ProductThumbnailImageRepository.java
  backend/src/main/java/org/example/backend/domain/board/service/ProductBoardService.java
  backend/src/main/resources/application.yml
Labels: 🗄️ Backend, ✨ Feature

#183 [#60] 문의 목록 조회 기능 구현
  frontend/src/components/board/BoardDetailNavComponent.vue
  frontend/src/components/qna/QnaRegisterModalComponent.vue
  frontend/src/pages/user/board/BoardDetailPage.vue
  frontend/src/stores/useQnaStore.js
Labels: 🖥️ Frontend, 🐞 BugFix

#187 [#94] 배송지 관리 기능 구현
  frontend/src/components/mypage/AddressEditModalComponent.vue
  frontend/src/components/mypage/AddressModalComponent.vue
  frontend/src/components/mypage/MypageAddressComponent.vue
  frontend/src/stores/useUserStore.js
Labels: 🖥️ Frontend, ✨ Feature

#188 [#15] 배송지 기능 유효성 체크 구현
  backend/src/main/java/org/example/backend/domain/delivery/controller/DeliveryController.java
  backend/src/main/java/org/example/backend/domain/delivery/model/dto/DeliveryDto.java
  backend/src/main/java/org/example/backend/domain/delivery/model/entity/Delivery.java
  backend/src/main/java/org/example/backend/domain/delivery/service/DeliveryService.java
  backend/src/main/java/org/example/backend/global/common/constants/BaseResponseStatus.java
Labels: 🗄️ Backend, ✨ Feature

#190 [#32] 상품 게시글 메인 목록 조회 기능 구현
  backend/src/main/java/org/example/backend/domain/board/controller/BoardController.java
  backend/src/main/java/org/example/backend/domain/board/repository/ProductBoardRepository.java
  backend/src/main/java/org/example/backend/domain/board/service/ProductBoardService.java
  backend/src/main/java/org/example/backend/global/infra/db/InitDB.java
Labels: 🗄️ Backend, ✨ Feature

#191 [#56] 메인 페이지 기능 구현
  frontend/src/components/board/BoardDetailNavComponent.vue
  frontend/src/components/common/HeaderComponent.vue
  frontend/src/components/mainpage/MainCardViewComponent.vue
  frontend/src/components/mainpage/ObserverComponent.vue
  frontend/src/components/user/UserSignupComponent.vue
  frontend/src/pages/common/LoginRedirectPage.vue
  frontend/src/pages/common/MainPage.vue
  frontend/src/pages/user/board/BoardDetailPage.vue
  frontend/src/stores/useBoardStore.js
  frontend/src/stores/useUserStore.js
Labels: 🖥️ Frontend, ✨ Feature

#192 [#76] 주문 관리 기능 구현
  frontend/src/components/company/CompanyOrderModalComponent.vue
  frontend/src/components/company/OrderListCardComponent.vue
  frontend/src/pages/company/orders/CompanyOrderListPage.vue
  frontend/src/stores/useBoardStore.js
Labels: 🖥️ Frontend, ✨ Feature

#196 [#76] 주문 관리 기능 에러 수정
  frontend/src/pages/company/orders/CompanyOrderListPage.vue
Labels: 🖥️ Frontend, 🐞 BugFix

#194 [#189] 문의 삭제 기능 구현
  frontend/src/components/board/BoardDetailNavComponent.vue
  frontend/src/components/qna/QnaRegisterModalComponent.vue
  frontend/src/stores/useQnaStore.js
Labels: 🖥️ Frontend, ✨ Feature

#198 [#5, #6] 회원정보 조회, 수정 기능 구현
  backend/src/main/java/org/example/backend/domain/delivery/service/DeliveryService.java
  backend/src/main/java/org/example/backend/domain/user/controller/UserController.java
  backend/src/main/java/org/example/backend/domain/user/model/dto/UserDto.java
  backend/src/main/java/org/example/backend/domain/user/model/entity/User.java
  backend/src/main/java/org/example/backend/domain/user/service/UserService.java
  backend/src/main/java/org/example/backend/global/common/constants/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/global/security/filter/JwtFilter.java
  backend/src/main/resources/application.yml
Labels: 🗄️ Backend, ✨ Feature

#199 [#93, #95] 회원정보 조회, 수정기능 구현
  frontend/src/components/mypage/MypageAddressComponent.vue
  frontend/src/components/mypage/MypageAsideComponent.vue
  frontend/src/components/mypage/MypageDetailComponent.vue
  frontend/src/components/mypage/MypageDetailEditComponent.vue
  frontend/src/components/mypage/MypageLikesEventComponent.vue
  frontend/src/components/user/UserSignupComponent.vue
  frontend/src/pages/user/MyPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useUserStore.js
Labels: 🖥️ Frontend, ✨ Feature

#204 [#56, #167]게시글 상세 목록 조회/메인 페이지 기능 구현
  frontend/src/components/board/BoardDetailNavComponent.vue
  frontend/src/components/board/BoardDetailProductInfoComponent.vue
  frontend/src/components/board/BoardDetailThumnailComponent.vue
  frontend/src/components/company/CompanyBoardPostComponent.vue
  frontend/src/components/mainpage/MainCardViewComponent.vue
  frontend/src/components/mainpage/ProductBoardListCardComponent.vue
  frontend/src/pages/user/board/BoardDetailPage.vue
  frontend/src/stores/useBoardStore.js
Labels: 🖥️ Frontend, ✨ Feature

#212 [#73] 판매자 게시글 등록 axios 예외처리 수정
  frontend/src/components/company/CompanyBoardPostComponent.vue
  frontend/src/pages/company/board/CompanyBoardListPage.vue
  frontend/src/stores/useBoardStore.js
Labels: 🖥️ Frontend, 🔨 Refactor

#211 [#210] 판매자 게시글 등록 유효성 검사 기능 구현
  backend/src/main/java/org/example/backend/BackendApplication.java
  backend/src/main/java/org/example/backend/domain/board/controller/BoardController.java
  backend/src/main/java/org/example/backend/domain/board/model/dto/ProductBoardDto.java
  backend/src/main/java/org/example/backend/domain/board/model/entity/ProductBoard.java
  backend/src/main/java/org/example/backend/domain/board/repository/ProductBoardRepository.java
  backend/src/main/java/org/example/backend/domain/board/repository/querydsl/ProductBoardRepositoryCustom.java
  backend/src/main/java/org/example/backend/domain/board/repository/querydsl/ProductBoardRepositoryCustomImpl.java
  backend/src/main/java/org/example/backend/domain/board/service/ProductBoardService.java
  backend/src/main/java/org/example/backend/global/common/constants/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/global/validator/MinuteValidator.java
  backend/src/main/java/org/example/backend/global/validator/TimeRangeValidator.java
  backend/src/main/java/org/example/backend/global/validator/annotation/MinuteCheck.java
  backend/src/main/java/org/example/backend/global/validator/annotation/TimeRangeCheck.java
Labels: 🗄️ Backend, ✨ Feature

#206 [#79] 1:1 문의 관리 기능 구현
  frontend/src/components/board/BoardDetailNavComponent.vue
  frontend/src/components/company/CompanyAnswerListModalComponent.vue
  frontend/src/components/company/CompanyQnAManageComponent.vue
  frontend/src/components/company/CompanyQnAModalComponent.vue
Labels: 🖥️ Frontend, ✨ Feature

#207 [#45, #47] 답변 등록 (업체회원) 기능 구현, 답변 삭제 (업체회원) 기능 구현
  backend/src/main/java/org/example/backend/domain/board/repository/ProductBoardRepository.java
  backend/src/main/java/org/example/backend/domain/qna/controller/AnswerController.java
  backend/src/main/java/org/example/backend/domain/qna/controller/QuestionController.java
  backend/src/main/java/org/example/backend/domain/qna/model/dto/AnswerDto.java
  backend/src/main/java/org/example/backend/domain/qna/model/dto/QuestionDto.java
  backend/src/main/java/org/example/backend/domain/qna/model/entity/Answer.java
  backend/src/main/java/org/example/backend/domain/qna/model/entity/Question.java
  backend/src/main/java/org/example/backend/domain/qna/repository/AnswerRepository.java
  backend/src/main/java/org/example/backend/domain/qna/repository/QuestionRepository.java
  backend/src/main/java/org/example/backend/domain/qna/service/AnswerService.java
  backend/src/main/java/org/example/backend/domain/qna/service/QuestionService.java
Labels: 🗄️ Backend, ✨ Feature

#208 [#91] 내 문의 조회 기능 구현
  frontend/src/components/company/CompanyAnswerListModalComponent.vue
  frontend/src/components/mypage/MypageQnAComponent.vue
Labels: 🖥️ Frontend, ✨ Feature

#209 [#46] 내 문의 조회 기능 구현
  backend/src/main/java/org/example/backend/domain/qna/controller/QuestionController.java
  backend/src/main/java/org/example/backend/domain/qna/model/dto/QuestionDto.java
  backend/src/main/java/org/example/backend/domain/qna/model/entity/Question.java
  backend/src/main/java/org/example/backend/domain/qna/repository/QuestionRepository.java
  backend/src/main/java/org/example/backend/domain/qna/service/QuestionService.java
Labels: 🗄️ Backend, ✨ Feature

#214 [#213] 관심게시글 등록 및 라우팅 권한 기능 구현
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/src/components/board/BoardDetailProductInfoComponent.vue
  frontend/src/components/common/HeaderComponent.vue
  frontend/src/components/company/CompanySignupComponent.vue
  frontend/src/components/mainpage/MainCardViewComponent.vue
  frontend/src/components/mainpage/ProductBoardListCardComponent.vue
  frontend/src/components/mypage/MypageAddressComponent.vue
  frontend/src/components/mypage/MypageDetailComponent.vue
  frontend/src/components/mypage/MypageDetailEditComponent.vue
  frontend/src/components/mypage/MypageLikesEventComponent.vue
  frontend/src/components/mypage/MypageOrderListComponent.vue
  frontend/src/components/mypage/MypageQnAComponent.vue
  frontend/src/components/user/LoginComponent.vue
  frontend/src/components/user/SocialSignupComponent.vue
  frontend/src/components/user/UserSignupComponent.vue
  frontend/src/pages/common/LoginRedirectPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useUserStore.js
Labels: 🖥️ Frontend, ✨ Feature

#215 [#39] 관심 등록 기능 구현
  backend/src/main/java/org/example/backend/domain/likes/controller/LikesController.java
  backend/src/main/java/org/example/backend/domain/likes/model/dto/LikesDto.java
  backend/src/main/java/org/example/backend/domain/likes/repository/LikesRepository.java
  backend/src/main/java/org/example/backend/domain/likes/service/LikesService.java
  backend/src/main/java/org/example/backend/global/common/constants/BaseResponseStatus.java
  backend/src/main/java/org/example/backend/global/security/filter/LoginFilter.java
Labels: 🗄️ Backend, ✨ Feature

#219 [Hotfix] 쿼리 변경
  backend/src/main/java/org/example/backend/domain/board/repository/querydsl/ProductBoardRepositoryCustomImpl.java
Labels: 🗄️ Backend, 🔨 Refactor

#223 [#222] 주문 및 결제 수정
  frontend/src/assets/dealivery-logo2.png
  frontend/src/components/common/HeaderComponent.vue
  frontend/src/components/orders/OrdersMainComponent.vue
  frontend/src/stores/useOrderStore.js
Labels: 🖥️ Frontend, 🔨 Refactor

#224 [#222] 주문 및 결제 entity, dto 수정
  backend/src/main/java/org/example/backend/domain/orders/model/dto/OrderDto.java
  backend/src/main/java/org/example/backend/domain/orders/model/entity/Orders.java
  backend/src/main/java/org/example/backend/domain/orders/service/OrderService.java
  backend/src/main/java/org/example/backend/domain/orders/service/PaymentService.java
  backend/src/main/java/org/example/backend/domain/user/model/entity/User.java
  backend/src/main/java/org/example/backend/global/infra/db/InitDB.java
Labels: 🗄️ Backend, 🔨 Refactor

#229 [#228] oauth redirect url 변경
  backend/src/main/java/org/example/backend/domain/board/category/model/entity/Category.java
  backend/src/main/java/org/example/backend/domain/board/repository/querydsl/ProductBoardRepositoryCustomImpl.java
  backend/src/main/java/org/example/backend/domain/board/service/ProductBoardService.java
  backend/src/main/java/org/example/backend/global/infra/db/InitDB.java
  backend/src/main/java/org/example/backend/global/security/config/SecurityConfig.java
  backend/src/main/java/org/example/backend/global/security/handler/OAuth2AuthenticationSuccessHandler.java
  backend/src/main/resources/application.yml
Labels: 🗄️ Backend, 🔨 Refactor

#237 [#40] 상품 게시글 검색 로직 수정 & 관심 게시글 조회 기능 구현
  backend/src/main/java/org/example/backend/domain/board/controller/BoardController.java
  backend/src/main/java/org/example/backend/domain/board/model/entity/ProductBoard.java
  backend/src/main/java/org/example/backend/domain/board/repository/querydsl/ProductBoardRepositoryCustomImpl.java
  backend/src/main/java/org/example/backend/domain/board/service/ProductBoardService.java
  backend/src/main/java/org/example/backend/domain/likes/controller/LikesController.java
  backend/src/main/java/org/example/backend/domain/likes/model/dto/LikesDto.java
  backend/src/main/java/org/example/backend/domain/likes/repository/LikesRepository.java
  backend/src/main/java/org/example/backend/domain/likes/service/LikesService.java
  backend/src/main/java/org/example/backend/global/common/constants/BoardStatus.java
Labels: 🗄️ Backend, ✨ Feature

#238 [#242] 게시글 리스트 조회 페이지 수정
  frontend/src/components/mainpage/ProductBoardListCardComponent.vue
  frontend/src/components/mainpage/ProductBoardListComponent.vue
  frontend/src/pages/company/board/CompanyBoardListPage.vue
Labels: 🖥️ Frontend, 🔨 Refactor

#239 [#90] 관심게시글 기능 구현
  frontend/src/components/mypage/MypageLikesEventComponent.vue
  frontend/src/stores/useBoardStore.js
Labels: 🖥️ Frontend, ✨ Feature

#240 [#79, #91, #189, #217] 1:1 문의 관리 기능 구현, 내 문의 기능 구현, 문의 삭제 기능 구현, 문의 수정 기능 구현
  frontend/src/components/board/BoardDetailNavComponent.vue
  frontend/src/components/company/CompanyAnswerListModalComponent.vue
  frontend/src/components/company/CompanyQnAManageComponent.vue
  frontend/src/components/company/CompanyQnAModalComponent.vue
  frontend/src/components/mypage/MypageQnAComponent.vue
  frontend/src/components/qna/QnaRegisterModalComponent.vue
  frontend/src/stores/useQnaStore.js
Labels: 🖥️ Frontend, ✨ Feature

#241 [#43, #255] 상품 문의 삭제 기능 구현, 답변 삭제 시 답변이 없을 경우 '답변대기' 상태로 변경하는 API 수정
  backend/src/main/java/org/example/backend/domain/qna/controller/QuestionController.java
  backend/src/main/java/org/example/backend/domain/qna/model/dto/QuestionDto.java
  backend/src/main/java/org/example/backend/domain/qna/model/entity/Question.java
  backend/src/main/java/org/example/backend/domain/qna/service/AnswerService.java
  backend/src/main/java/org/example/backend/domain/qna/service/QuestionService.java
Labels: 🗄️ Backend, ✨ Feature

#250 [#249] 관심 게시글 표시 유지 기능 구현
  frontend/src/components/board/BoardDetailProductInfoComponent.vue
  frontend/src/components/mainpage/MainCardViewComponent.vue
  frontend/src/components/mainpage/ProductBoardListCardComponent.vue
  frontend/src/components/mainpage/ProductBoardListComponent.vue
  frontend/src/components/mypage/MypageLikesEventComponent.vue
  frontend/src/pages/user/board/BoardDetailPage.vue
  frontend/src/stores/useBoardStore.js
Labels: 🖥️ Frontend, ✨ Feature

#251 [#248] 로그인된 유저 관심 표시 여부 조회 기능 구현
  backend/src/main/java/org/example/backend/domain/board/controller/BoardController.java
  backend/src/main/java/org/example/backend/domain/board/model/entity/ProductBoard.java
  backend/src/main/java/org/example/backend/domain/board/service/ProductBoardService.java
  backend/src/main/java/org/example/backend/domain/likes/repository/LikesRepository.java
Labels: 🗄️ Backend, ✨ Feature

#252 [#222] 주문 기능 수정
  backend/src/main/java/org/example/backend/domain/orders/model/dto/OrderedProductDto.java
  backend/src/main/java/org/example/backend/domain/orders/model/entity/OrderedProduct.java
  backend/src/main/java/org/example/backend/domain/orders/service/OrderService.java
  backend/src/main/java/org/example/backend/domain/orders/service/PaymentService.java
Labels: 🗄️ Backend, 🐞 BugFix
