Repository beyond-sw-camp/be06-fin-SimKids-Dealivery, pull requests merged in 2024-10, with the labels that each got.

#255 [#254] 게시글 조회 N + 1 문제 해결
  backend/src/main/java/org/example/backend/domain/board/controller/BoardController.java
  backend/src/main/java/org/example/backend/domain/board/model/entity/ProductBoard.java
  backend/src/main/java/org/example/backend/domain/board/repository/ProductBoardRepository.java
  backend/src/main/java/org/example/backend/domain/board/repository/querydsl/ProductBoardRepositoryCustom.java
  backend/src/main/java/org/example/backend/domain/board/repository/querydsl/ProductBoardRepositoryCustomImpl.java
  backend/src/main/java/org/example/backend/domain/board/service/ProductBoardService.java
  backend/src/main/java/org/example/backend/domain/likes/repository/LikesRepository.java
Labels: 🗄️ Backend, 🔨 Refactor

#256 [#253] 상품 게시글 등록 조건 변경
  frontend/Dockerfile
  frontend/default.conf
  frontend/src/components/board/BoardDetailProductInfoComponent.vue
  frontend/src/components/company/CompanyBoardPostComponent.vue
  frontend/src/components/mainpage/ProductBoardListCardComponent.vue
  frontend/src/pages/company/board/CompanyBoardListPage.vue
Labels: 🖥️ Frontend, 🔨 Refactor

#269 [#268] 유효성 검증 동작 오류 수정
  frontend/src/components/user/UserSignupComponent.vue
Labels: 🖥️ Frontend, 🐞 BugFix

#285 [#284] 대기열 등록 기능 구현
  frontend/src/assets/logo-resize.png
  frontend/src/components/board/BoardDetailProductInfoComponent.vue
  frontend/src/pages/queue/WaitingRoom.vue
  frontend/src/router/index.js
  frontend/src/stores/useQueueStore.js
  frontend/src/stores/useUserStore.js
  frontend/vue.config.js
Labels: 🖥️ Frontend, ✨ Feature

#279 [#276] 문의 관련 페이징처리 API연동 수정
  frontend/src/components/board/BoardDetailNavComponent.vue
  frontend/src/components/company/CompanyQnAManageComponent.vue
  frontend/src/components/mypage/MypageQnAComponent.vue
  frontend/src/stores/useQnaStore.js
Labels: 🖥️ Frontend, 🐞 BugFix

#280 [#278] 문의 관련 페이징처리 API 수정
  backend/src/main/java/org/example/backend/domain/qna/controller/QuestionController.java
  backend/src/main/java/org/example/backend/domain/qna/repository/QuestionRepository.java
  backend/src/main/java/org/example/backend/domain/qna/service/QuestionService.java
Labels: 🗄️ Backend, 🐞 BugFix

#319 [#318] 좋아요/검색 버그 수정
  frontend/src/components/board/BoardDetailProductInfoComponent.vue
  frontend/src/components/common/HeaderComponent.vue
  frontend/src/components/mainpage/MainCardViewComponent.vue
  frontend/src/components/mainpage/ProductBoardListCardComponent.vue
  frontend/src/components/mypage/MypageLikesEventComponent.vue
  frontend/src/pages/common/MainPage.vue
Labels: 🖥️ Frontend, 🐞 BugFix

#302 [Fix] 결제 예외처리 구현
  frontend/src/App.vue
  frontend/src/components/mypage/MypageOrderDetailComponent.vue
  frontend/src/components/orders/OrdersMainComponent.vue
  frontend/src/stores/useOrderStore.js
Labels: 🖥️ Frontend, 🐞 BugFix

#329 [#328] MSA 문의 조회 N+1문제 해결
  backend/board/src/main/java/org/example/board/domain/qna/model/entity/Question.java
  backend/board/src/main/java/org/example/board/domain/qna/repository/QuestionRepository.java
  backend/board/src/main/java/org/example/board/domain/qna/service/QuestionService.java
Labels: 🗄️ Backend, 🔨 Refactor

#337 [#336] 배너 이미지 변경
  frontend/src/assets/banner1.png
  frontend/src/assets/banner2.png
  frontend/src/assets/banner3.png
  frontend/src/assets/banner4.png
  frontend/src/stores/useUserStore.js
Labels: 🖥️ Frontend, 🎨 Design

#338 배너 이미지 변경
  frontend/src/assets/banner1.png
  frontend/src/assets/banner2.png
  frontend/src/assets/banner3.png
  frontend/src/assets/banner4.png
  frontend/src/components/common/InvalidUrlComponent.vue
  frontend/src/components/orders/OrdersMainComponent.vue
  frontend/src/components/user/InvalidUrlComponent.vue
  frontend/src/pages/common/InvalidUrlPage.vue
  frontend/src/router/index.js
  frontend/src/stores/useUserStore.js
Labels: 🖥️ Frontend, 🎨 Design

#339 Hotfix 누락코드 복구
  backend/orders/src/main/java/org/example/orders/OrdersApplication.java
Labels: 🗄️ Backend, 🐞 BugFix

#342 [#341] 테스트 계정 안내 문구 추가, 부동소수점 처리
  frontend/src/components/board/BoardDetailProductInfoComponent.vue
  frontend/src/components/common/HeaderComponent.vue
  frontend/src/components/mainpage/MainCardViewComponent.vue
  frontend/src/components/mainpage/ProductBoardListComponent.vue
  frontend/src/components/user/LoginComponent.vue
Labels: 🖥️ Frontend, 🐞 BugFix

#346 [#345] 페이지 이동 버튼 기능 수정, 부동소수점 수정
  frontend/src/components/board/BoardDetailProductInfoComponent.vue
  frontend/src/components/mainpage/ProductBoardListCardComponent.vue
  frontend/src/components/mainpage/ProductBoardListComponent.vue
  frontend/src/components/mypage/MypageLikesEventComponent.vue
Labels: 🖥️ Frontend, 🐞 BugFix

#350 [#349] 메인카드 가격 정수화
  frontend/src/components/mainpage/MainCardViewComponent.vue
Labels: 🖥️ Frontend, 🐞 BugFix
